{% extends "main/base.html" %}
{% load dict_key %}
{% block navig_btn_dem %}
    nav-link active bg-success
{% endblock %}
{% block content %}

    {{ article.full_text|safe }}

    <table class="table table-bordered" align="center" width="1080" border="1" bordercolor="black" cellpadding="5px">
  <thead align="center">
    <tr>
      <th>{{ heads1.data.0}}</th>
      <th>{{ heads1.data.1  }} </th>
      <th>{{ heads1.data.2 }} <br> Python-программист</th>
      <th>{{ heads1.data.3}} </th>
      <th>{{ heads1.data.4}} <br> Python-программист</th>
    </tr>
  </thead>
  <tbody align="center">
  {%for key, value in salary_by_years.data.items%}
   <tr>
       <td> {{ key }}  </td>
       <td> {{ value }}  </td>
       <td> {{ vac_salary_by_years.data|dict_key:key}} </td>
       <td> {{ vacs_by_years.data|dict_key:key }} </td>
       <td> {{ vac_counts_by_years.data|dict_key:key }} </td>
   </tr>
  {%endfor%}
  </tbody>
</table>
{% endblock %}