{% extends "main/base.html" %}
{% block navig_btn %}
    nav-link active
{% endblock %}
{%  block content %}
    <h1>Python-программист</h1>
    <p>Python Developer пишет коды, интегрирует и тестирует приложения, исправляет ошибки,
      запускает и сопровождает разработанные им на «Пайтоне» программные продукты. Язык Python создал в начале 90-х годов прошлого века голландский разработчик Гвидо Ван Россум.
      Несмотря на почтенный для языков программирования возраст, «Пайтон» и
      сейчас уверенно занимает верхние строчки мировых рейтингов популярности (индекс TIOBE, индекс PYPL, IEEE Spectrum и др.).
      <p>Его используют такие гиганты, как Mail.ru (VK),
      Google, Яндекс, Pinterest, Youtube, Intel и Microsoft, NASA, и многие другие крупные компании.</p>

  <p>Опытные программисты Python выделяют такие сильные стороны языка и плюсы работы с ним:</p>
  <ul>
    <li><strong>Расширяемость языка, интеграция с C/C++.</strong> {{ num_books }}</li>
    <li><strong>Упрощенный синтаксис, поддержка Unicode.</strong> {{ num_instances }}</li>
    <li><strong>Кроссплатформенность.</strong> {{ num_instances_available }}</li>
    <li><strong>Динамическая типизация.</strong> {{ num_authors }}</li>
    <li><strong>Возможность оперативно создавать самый сложный код.</strong> {{ num_authors }}</li>
    <li><strong>Огромное количество сред разработки и библиотек для любых целей.</strong> {{ num_authors }}</li>
    <li><strong>Можно использовать для написания всех видов программных продуктов.</strong> {{ num_authors }}</li>
    <li><strong>Упрощенное сопровождение созданного ПО.</strong> {{ num_authors }}</li>
    <li><strong>Большое сообщество грамотных программистов.</strong> {{ num_authors }}</li>
  </ul>

    <h2>Навыки по грейдам</h2>
    <p>Теперь посмотрим, чего работодатели ждут от кандидатов на должность Python-разработчика в зависимости от квалификации.</p>
    <h3>Junior</h3>
    <p>С навыками, перечисленными выше, можно с уверенностью претендовать на должность крепкого junior-разработчика.
        Более того, мы не нашли ни одной джуновской вакансии, в которой все эти требования встречались бы разом.
    <p>Технологический стек джунов в большинстве случаев более узкий и зависит от сферы, в которой они работают.</p>
    <h3>Middle</h3>
    <p>От middle-разработчиков обычно ожидают примерно тех же навыков, но на более продвинутом уровне.
        Плюс в зависимости от специфики сферы может появиться несколько дополнительных требований.
    <p>В веб-разработке, например, это знание какого-нибудь языка для фронтенда вроде JavaScript,
        а в дата-аналитике — владение методами статистического анализа.</p>
    <h3>Senior</h3>
    <p>Senior-разработчику нужно обладать широким спектром знаний и владеть множеством технологий, чтобы принимать стратегические решения, выстраивать и развивать архитектуру проекта.
    <p>Если это специалист в области Data Science и анализа данных, то ему нужно обладать глубокими фундаментальными знаниями в области математики (матанализ, статистика, линейная алгебра, теория вероятностей, временные ряды), а иногда ещё и физики.
    <p>От сеньоров чаще, чем от специалистов других грейдов, ожидают развитых социальных навыков, потому что им часто приходится брать на себя руководящие функции.</p>
    <h2>Зарплаты Python-разработчиков</h2>
    <p>На октябрь 2022 года на HeadHunter опубликовано 4,5 тысячи вакансий на позицию Python-разработчика, на «Хабр.Карьере» — более 400. Среди работодателей — «Сбер, » ВТБ, «Тинькофф», МТС, «Ростелеком».
    <p>Согласно исследованию «Хабр.Карьеры», средняя зарплата «питонистов» — 140 тысяч рублей. По нашим наблюдениям, джунам предлагают от 30 до 100 тысяч рублей, мидлам — от 90 до 250 тысяч, сеньорам — от 230 до 480 тысяч.</p>
    <img style=" width: 500px; border-radius: 10px;" align="left" border="3px" src="/media/images/stack.png">
    <img style=" width: 525px; border-radius: 10px;" align="right" border="3px" src="/media/images/city.png">
{% endblock %}


