{% extends "main/base.html" %}
{% block navig_btn_ski %}
    nav-link active
{% endblock %}
{% block content %}
<h1 style="text-align: center">ТОП-10 навыков по годам для Python-программиста</h1>
    <h2 style="text-align: center">Наиболее высокочастотные навыки</h2>
    <br><br>
    <div align = "left">


        <table class="table table-bordered" align="center" width="1080" border="1" bordercolor="black" cellpadding="5px">
  <thead align="center">
  <tr>
      <th colspan= '2'>2015</th>
  </tr>
    <tr>
      <th>Название</th>
      <th>Упоминания</th>
    </tr>
  </thead>
  <tbody align="center">
   <tr>
       <td> Python  </td>
       <td> 87 раз  </td>
   </tr>
  <tr>
      <td> Django Framework  </td>
       <td> 47 раз  </td>
  </tr>
   <tr>
      <td> Linux  </td>
       <td> 33 раза  </td>
  </tr>
   <tr>
      <td> PostgreSQL  </td>
       <td> 25 раз  </td>
  </tr>
   <tr>
      <td> Git  </td>
       <td> 22 раза  </td>
  </tr>
   <tr>
      <td> JavaScript  </td>
       <td> 18 раз  </td>
  </tr>
   <tr>
      <td> MySQL  </td>
       <td> 14 раз  </td>
  </tr>
   <tr>
      <td> CSS  </td>
       <td> 11 раз  </td>
  </tr>
   <tr>
      <td> HTML  </td>
       <td> 10 раз  </td>
  </tr>
   <tr>
      <td> jQuery  </td>
       <td> 87 раз  </td>
  </tr>
  </tbody>
        </table>
        <br><br>
        <table class="table table-bordered" align="center" width="1080" border="1" bordercolor="black" cellpadding="5px">
  <thead align="center">
  <tr>
      <th colspan= '2'>2016</th>
  </tr>
    <tr>
      <th>Название</th>
      <th>Упоминания</th>
    </tr>
  </thead>
  <tbody align="center">
   <tr>
       <td> Python  </td>
       <td> 322 раза  </td>
   </tr>
  <tr>
      <td> Django Framework  </td>
       <td> 151 раз  </td>
  </tr>
   <tr>
      <td> Git  </td>
       <td> 138 раз  </td>
  </tr>
   <tr>
      <td> Linux  </td>
       <td> 115 раз  </td>
  </tr>
   <tr>
      <td> PostgreSQL  </td>
       <td> 114 раз  </td>
  </tr>
   <tr>
      <td> JavaScript  </td>
       <td> 104 раза  </td>
  </tr>
   <tr>
      <td> SQL  </td>
       <td> 75 раз </td>
  </tr>
   <tr>
      <td> MySQL  </td>
       <td> 70 раз  </td>
  </tr>
   <tr>
      <td> CSS  </td>
       <td> 60 раз  </td>
  </tr>
   <tr>
      <td> HTML5  </td>
       <td> 52 раза  </td>
  </tr>
  </tbody>
        </table>
    <br><br>
        <table class="table table-bordered" align="center" width="1080" border="1" bordercolor="black" cellpadding="5px">
  <thead align="center">
  <tr>
      <th colspan= '2'>2017</th>
  </tr>
    <tr>
      <th>Название</th>
      <th>Упоминания</th>
    </tr>
  </thead>
  <tbody align="center">
   <tr>
       <td> Python  </td>
       <td> 521 раз  </td>
   </tr>
  <tr>
      <td> Django Framework  </td>
       <td> 247 раз  </td>
  </tr>
   <tr>
      <td> PostgreSQL  </td>
       <td> 224 раза  </td>
  </tr>
   <tr>
      <td> Git  </td>
       <td> 222 раза </td>
  </tr>
   <tr>
      <td> Linux  </td>
       <td> 193 раза  </td>
  </tr>
   <tr>
      <td> JavaScript  </td>
       <td> 140 раз  </td>
  </tr>
   <tr>
      <td> SQL  </td>
       <td> 102 раза </td>
  </tr>
   <tr>
      <td> MySQL  </td>
       <td> 78 раз  </td>
  </tr>
   <tr>
      <td> Redis  </td>
       <td> 69 раз  </td>
  </tr>
   <tr>
      <td> jQuery  </td>
       <td> 67 раз  </td>
  </tr>
  </tbody>
        </table>
    <br><br>
        <table class="table table-bordered" align="center" width="1080" border="1" bordercolor="black" cellpadding="5px">
  <thead align="center">
  <tr>
      <th colspan= '2'>2018</th>
  </tr>
    <tr>
      <th>Название</th>
      <th>Упоминания</th>
    </tr>
  </thead>
  <tbody align="center">
   <tr>
       <td> Python  </td>
       <td> 849 раз  </td>
   </tr>
  <tr>
      <td> Django Framework  </td>
       <td> 448 раз  </td>
  </tr>
   <tr>
      <td> PostgreSQL  </td>
       <td> 409 раз  </td>
  </tr>
   <tr>
      <td> Git  </td>
       <td> 320 раз </td>
  </tr>
   <tr>
      <td> JavaScript  </td>
       <td> 218 раз  </td>
  </tr>
   <tr>
      <td> SQL  </td>
       <td> 215 раз  </td>
  </tr>
   <tr>
      <td> Linux  </td>
       <td> 182 раза </td>
  </tr>
   <tr>
      <td> MySQL  </td>
       <td> 161 раз  </td>
  </tr>
   <tr>
      <td> HTML  </td>
       <td>132 раза  </td>
  </tr>
   <tr>
      <td> CSS  </td>
       <td> 116 раз  </td>
  </tr>
  </tbody>
        </table>
    <br><br>
        <table class="table table-bordered" align="center" width="1080" border="1" bordercolor="black" cellpadding="5px">
  <thead align="center">
  <tr>
      <th colspan= '2'>2019</th>
  </tr>
    <tr>
      <th>Название</th>
      <th>Упоминания</th>
    </tr>
  </thead>
  <tbody align="center">
   <tr>
       <td> Python  </td>
       <td> 988 раз  </td>
   </tr>
  <tr>
      <td> Django Framework  </td>
       <td> 484 раза  </td>
  </tr>
   <tr>
      <td> PostgreSQL  </td>
       <td> 415 раз  </td>
  </tr>
   <tr>
      <td> Git  </td>
       <td> 354 раза </td>
  </tr>
   <tr>
      <td> Linux  </td>
       <td> 272 раза  </td>
  </tr>
   <tr>
      <td> SQL  </td>
       <td> 225 раз  </td>
  </tr>
   <tr>
      <td> JavaScript  </td>
       <td> 166 раза </td>
  </tr>
   <tr>
      <td> MySQL  </td>
       <td> 137 раз  </td>
  </tr>
   <tr>
      <td> MongoDB  </td>
       <td> 137 раз  </td>
  </tr>
   <tr>
      <td> Redis  </td>
       <td> 119 раз  </td>
  </tr>
  </tbody>
        </table>
    <br><br>
        <table class="table table-bordered" align="center" width="1080" border="1" bordercolor="black" cellpadding="5px">
  <thead align="center">
  <tr>
      <th colspan= '2'>2020</th>
  </tr>
    <tr>
      <th>Название</th>
      <th>Упоминания</th>
    </tr>
  </thead>
  <tbody align="center">
   <tr>
       <td> Python  </td>
       <td> 1102 раза  </td>
   </tr>
  <tr>
      <td> Django Framework  </td>
       <td> 578 раз  </td>
  </tr>
   <tr>
      <td> PostgreSQL  </td>
       <td> 538 раз  </td>
  </tr>
   <tr>
      <td> Git  </td>
       <td> 503 раза </td>
  </tr>
   <tr>
      <td> Linux  </td>
       <td> 330 раз  </td>
  </tr>
   <tr>
      <td> SQL  </td>
       <td> 279 раз  </td>
  </tr>
   <tr>
      <td> JavaScript  </td>
       <td> 186 раз </td>
  </tr>
   <tr>
      <td> MySQL  </td>
       <td> 174 раза  </td>
  </tr>
   <tr>
      <td> ООП  </td>
       <td> 128 раз  </td>
  </tr>
   <tr>
      <td> Redis  </td>
       <td> 127 раз  </td>
  </tr>
  </tbody>
        </table>
    <br><br>
        <table class="table table-bordered" align="center" width="1080" border="1" bordercolor="black" cellpadding="5px">
  <thead align="center">
  <tr>
      <th colspan= '2'>2021</th>
  </tr>
    <tr>
      <th>Название</th>
      <th>Упоминания</th>
    </tr>
  </thead>
  <tbody align="center">
   <tr>
       <td> Python  </td>
       <td> 811 раз  </td>
   </tr>
  <tr>
      <td> Django Framework  </td>
       <td> 413 раз  </td>
  </tr>
   <tr>
      <td> Git  </td>
       <td> 412 раз  </td>
  </tr>
   <tr>
      <td> PostgreSQL  </td>
       <td> 323 раза </td>
  </tr>
   <tr>
      <td> Linux  </td>
       <td> 246 раз  </td>
  </tr>
   <tr>
      <td> SQL  </td>
       <td> 235 раз  </td>
  </tr>
   <tr>
      <td> JavaScript  </td>
       <td> 123 раза </td>
  </tr>
   <tr>
      <td> Flask  </td>
       <td> 100 раз  </td>
  </tr>
   <tr>
      <td> MySQL  </td>
       <td> 97 раз  </td>
  </tr>
   <tr>
      <td> Redis  </td>
       <td> 87 раз  </td>
  </tr>
  </tbody>
        </table>
    <br><br>
        <table class="table table-bordered" align="center" width="1080" border="1" bordercolor="black" cellpadding="5px">
  <thead align="center">
  <tr>
      <th colspan= '2'>2020</th>
  </tr>
    <tr>
      <th>Название</th>
      <th>Упоминания</th>
    </tr>
  </thead>
  <tbody align="center">
   <tr>
       <td> Python  </td>
       <td> 1102 раза  </td>
   </tr>
  <tr>
      <td> Django Framework  </td>
       <td> 578 раз  </td>
  </tr>
   <tr>
      <td> PostgreSQL  </td>
       <td> 538 раз  </td>
  </tr>
   <tr>
      <td> Git  </td>
       <td> 503 раза </td>
  </tr>
   <tr>
      <td> Linux  </td>
       <td> 330 раз  </td>
  </tr>
   <tr>
      <td> SQL  </td>
       <td> 279 раз  </td>
  </tr>
   <tr>
      <td> JavaScript  </td>
       <td> 186 раз </td>
  </tr>
   <tr>
      <td> MySQL  </td>
       <td> 174 раза  </td>
  </tr>
   <tr>
      <td> ООП  </td>
       <td> 128 раз  </td>
  </tr>
   <tr>
      <td> Redis  </td>
       <td> 127 раз  </td>
  </tr>
  </tbody>
        </table>
    <br><br>
        <table class="table table-bordered" align="center" width="1080" border="1" bordercolor="black" cellpadding="5px">
  <thead align="center">
  <tr>
      <th colspan= '2'>2022</th>
  </tr>
    <tr>
      <th>Название</th>
      <th>Упоминания</th>
    </tr>
  </thead>
  <tbody align="center">
   <tr>
       <td> Python  </td>
       <td> 222 раза  </td>
   </tr>
  <tr>
      <td> Git  </td>
       <td> 108 раз  </td>
  </tr>
   <tr>
      <td> PostgreSQL  </td>
       <td> 108 раз  </td>
  </tr>
   <tr>
      <td> Django Framework  </td>
       <td> 103 раз </td>
  </tr>
   <tr>
      <td> Linux  </td>
       <td> 82 раза  </td>
  </tr>
   <tr>
      <td> SQL  </td>
       <td> 79 раза  </td>
  </tr>
   <tr>
      <td> Docker  </td>
       <td> 53 раза </td>
  </tr>
   <tr>
      <td> ООП  </td>
       <td> 28 раз  </td>
  </tr>
   <tr>
      <td> Английский язык  </td>
       <td> 28 раз  </td>
  </tr>
   <tr>
      <td> MySQL  </td>
       <td> 27 раз  </td>
  </tr>
  </tbody>
        </table>

{% endblock %}